 html,body{
width: 100%;
height: 100%;
background-color: blanchedalmond;
 }
 
h1,p{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
}
section{
    width: 50%;
    
}

input{
    width: 50%;
    height:200px;
}
button{
    width: 200px;
    height: 75px;
}